<h1>Login Below</h1>

<form action="/login" method="post">
  Username: <input type="text" name="username"><br>
  Password: <input type="password" name="password"><br>
  <p><input type="submit" name="Log In"></p>
</form>
