<h1><%= @user.username %>'s Page</h1>

<h3>Reviews</h3>

<% if !@user.reviews.empty? %>
  <ul>
    <% @user.reviews.each do |review| %>
      <li>Rating: <%= review.rating %>/10<br>
        <%= review.content %>
      </li><br>
    <% end %>
  </ul>
<% end %>

<a href="/logout">Log Out</a>
