<h1><%= @user.username %>'s Page</h1>

<ul>
  <% @user.reviews.each do |review| %>
    <li>Rating: <%= review.rating %>/10<br>
      <%= review.content %>
    </li><br>
  <% end %>
</ul>

<a href="/logout">Log Out</a>
