<h1>Create an Album</h1>

<form action="/albums" method="post">
  Album Name: <input type="text" name="name"><br>
  Artist: <input type="text" name="artist"><br>
  Release Year: <input type="text" name="release_date"><br>
  <input type="submit" name="Create Album">
</form>
