<% if flash.has?(:message) %>
  <h3><font color="red"><%= flash[:message] %></font></h3>
<% end %>

<h1>Create an Album</h1>

<form action="/albums" method="post">
  <p>Album Name: <input type="text" name="name"></p>
  <p>Artist: <input type="text" name="artist"></p>
  <p>Release Year: <input type="text" name="release_date"></p>
  <input type="submit" name="Create Album">
</form>
